
<div class="borde">
  <img src="https://res.cloudinary.com/vicalex/image/upload/v1547409727/Ucab%20Event%20imagenes/LogoUCAB.png" alt="ucab-logo">

  <p>Infinity Loop (2018-2019)</p>
  <h6>Elaborado por: Victor, Ivan, Leo </h6>

</div>
