<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include imports/headIndex.ejs %>
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="stylesheet" href="css/editor.css">
    <link rel="stylesheet" href="css/estilo_iniciar.css">
  </head>
  <body>
    <body>

    <% include parts/menueditor.ejs %>
    
    <div class="body-rows">
      <% include parts/showEvents.ejs %>


    </div>

    <% include imports/infobar.ejs %>

  </body>
</html>
