<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include imports/headIndex.ejs %>
    <link rel="stylesheet" href="css/estilo.css">
  </head>
  <body>
    <body>


    <% include parts/menuHeader.ejs %>
      <h6> Inicio <%= career%> </h6>
    <% include parts/menu.ejs %>

    <% include parts/showEvents.ejs %>

    <% include imports/infobar.ejs %>

    <% include imports/tailIndex.ejs %>

  </body>
</html>
