<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include imports/headIndex.ejs %>
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="stylesheet" href="css/estilo_iniciar.css">

  </head>
  <body>
    <body>
      <% include parts/menuHeader.ejs %>
        <h6>login</h6>
      <% include parts/menu.ejs %>

    <% include parts/loginsection.ejs %>


    <% include imports/tailIndex.ejs %>

  </body>
</html>
