
<div class="menu_bar">
  <img src="img/logo.png" class="img-logo"></img>

  <a href="/agregar_evento" class="plus">
    <span class="icon-plus"></span>
    <span class="tooltiptext">agregar evento</span>
  </a>

  <a href="/borrar_evento" class="bin">
    <span class="icon-bin"></span>
    <span class="tooltiptext">eliminar eventos</span>
  </a>

  <a href="/mis_publicaciones" class="all-events">
    <span class="icon-images"></span>
    <span class="tooltiptext">mostrar eventos</span>
  </a>

  <a href="/editor" class="menu">
    <span class="icon-equalizer"></span>
    <span class="tooltiptext">menu</span>
  </a>

  <a href="/logout" class="exit">
    <span class="icon-exit"></span>
    <span class="tooltiptext">desconectarse</span>
  </a>
  <h6> Editor</h6>
</div>
