
<header>
<div class="menu_bar">
  <img src="img/logo.png" class="img-logo"></img>
  <a href="#" class="bt-menu">

    <span class="icon-menu"></span>
    <span class="tooltiptext">menu</span>
  </a>
