
</div>
<nav>
  <ul>
    <li><a href="/"><span class="icon-home3"></span>  Inicio</a></li>
    <li class="submenu">
      <a href="#"><span class="icon-pencil"></span>  Clasificar <span class="caret icon-circle-down"></span></a>
      <ul class="children">
        <li><a href="#">Ing. Informática <span class="icon-embed2"></span></a></li>
        <li><a href="#">Ing. Telecomunicaciones <span class="icon-podcast"></span></a></li>
        <li><a href="#">Ing. Industrial <span class="icon-cog"></span></a></li>
        <li><a href="#">Ing. Civil <span class="icon-hammer"></span></a></li>
        <li><a href="#">Administración y Contaduría <span class="icon-stats-bars"></span></a></li>
        <li><a href="#">Ciencias Sociales<span class="icon-book"></span></a></li>
        <li><a href="#">Comunicacion Social <span class="icon-bubbles"></span></a></li>
        <li><a href="#">Derecho <span class="icon-hammer2"></span></a></li>
        <li><a href="#">Economía<span class="icon-library"></span></a></li>
        <li><a href="#">Educación <span class="icon-book"></span></a></li>
        <li><a href="#">Filosofía<span class="icon-pencil"></span></a></li>
        <li><a href="#">Letras<span class="icon-book"></span></a></li>
        <li><a href="#">Psicologia <span class="icon-omega"></span></a></li>
        <li><a href="#">Teologia <span class="icon-pencil"></span></a></li>
      </ul>
    </li>
    <li><a href="/login"><span class="icon-users"></span>  Iniciar sesion</a></li>
  </ul>
</nav>
</header>
