
<header>
<div class="menu_bar">
  <img src="https://res.cloudinary.com/vicalex/image/upload/v1547409724/Ucab%20Event%20imagenes/logo.png" class="img-logo"></img>
  <a href="#" class="bt-menu">

    <span class="icon-menu"></span>
    <span class="tooltiptext">menu</span>
  </a>
