
<div class="row">

  <div class="col-lg-4 col-sm-4 portfolio-item">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="img/imagen2.jpg" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">Evento 1</a>
        </h4>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-sm-5 portfolio-item">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="img/imagen3.jpg" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">Evento 1</a>
        </h4>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-sm-5 portfolio-item">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="img/imagen4.jpg" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">Evento 1</a>
        </h4>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-sm-5 portfolio-item">
    <div class=" card h-100">
      <a href="#"><img class="card-img-top" src="img/imagen1.jpg" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">Evento 1</a>
        </h4>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
      </div>
    </div>
  </div>
</div>
