
.main-section{
  margin: 0 auto;
  margin-top: 50px;
  padding: 0;
}
.modal-content{
  background-color:#DF5B2D;
  padding: 0 20px;
  box-shadow: 0px 0px 3px #848484;
}

.user-img{
  margin-top: -50px;
  margin-bottom: 35px;

}
.user-img img{
  width: 100px;
  height: 100px;
  box-shadow: 0px 0px 3px #848484;
  border-radius: 50%;
}

.form-group input {
  height: 42px;
  font-size: 18px;
  padding-left: 54px;
  border-radius: 5px;
}
.form-group::before{
  position: absolute;
  left: 28px;
  font-size: 22px;
  padding-top: 10px;
}


.btn-primary{
  width: 60%;
  margin: 5px 0 25px;
  border-radius: 5px;
  border: 0px;
}
