* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: url("../img/ucab_fondo.jpg");
  background-size: 100%;
  background-attachment: fixed;
  padding-top: 62px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu_bar .tooltiptext {
  visibility: hidden;

  margin-top: 30px;
  margin-left: -20px;
  width: 100px;
  background-color: black;
  color: #fff;

  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  text-align: center;

  padding: 5px 5px 5px 5px;
  border-radius: 6px;

  position: absolute;
  z-index: 1;

}

.menu_bar {
  display:block;
  width:100%;
  position: fixed;
  top:0;
  background:#DF5B2D;
  z-index:3000;
}

.menu_bar .bt-menu {
  display: block;
  float: right;
  padding: 20px 40px 0 0 ;
  color: #fff;

}
.menu_bar .bt-menu:hover .tooltiptext {
  visibility: visible;
}

.menu_bar img {
  float: left;
  width: 70px;
  margin: 7px 0 7px 40px ;
}

.menu_bar h6 {
  display: block;
  float: right;
  font-size: 20px;
  padding: 20px 0 0 0;
  color: #fff;
}

.menu_bar span {
  float: right;
  font-size: 25px;
  padding-left: 20px;
}



header nav {
  width: 30%;
  height: calc(100% - 60px);
  position: fixed;
  right: -100%;
  margin: 0;
  overflow: auto;
  background: #DF5B2D;
  z-index:1000;

}

header nav ul{
  list-style:none;

}

header nav ul li {
  display: block;
  border-top:    1px solid rgba(255,255,255,.2);
  border-bottom: 1px solid rgba(255,255,255,.2);
  position: relative;
}

header nav ul li a {
  color: #fff;
  display:block;
  text-decoration: none;
  padding: 10px;
}

header nav ul li a:hover{
  background: #924025;
  color: #fff;
  text-decoration: none;
}

header nav ul li:hover .children {
	display:hidden;
}

header nav ul li .children {
	display: none;
	background:#B36349;
	position: relative;
	width: 100%;
	z-index:1000;
}


header nav ul li .children li{
  display: block;
  overflow: hidden;
}

header nav ul li .children li a span{
  float: right;
  position: relative;
  top:3px;
}

.row{
  margin: 100px;
  margin-top: 40px;
}
.portfolio-item {
  margin-bottom: 40px;
}

.navbar {
  box-shadow: 2px 2px 5px #fff;
  opacity: 0.9;
}

.navbar .nav-item .nav-link {
  color: #fff;
}

.main-header {
  position: relative;
  background: url(../img/background.jpg);
  background-size: cover;
  min-height 700px;
}

.background-overlay {
  background: rgba(48, 51, 107,.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.form-control, .btn{
  border-radius: 0;
}

.team, footer {
  background: #30336b;
}



.borde {
  padding:20px 0px 10px 20px;
  width:100%;
  background:#C75229;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  bottom:0%;
  z-index: 1000;
}

.borde img{
  width: 20%;
  margin-top: -10px;
  display: block;
  float: right;
  position: relative;
}
